<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="GZipTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GZipTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="console" xsi:type="ColoredConsole" layout="${threadid}|${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}"/>
        <target name="file" xsi:type="File" keepFileOpen="true" fileName="${basedir}/logs/log.csv" archiveEvery="Hour" archiveNumbering="Date" archiveFileName="${basedir}/logs/log-{#}.csv">
          <layout xsi:type="CSVLayout">
            <column name="Logger" layout="${logger}"/>
            <column name="Thread" layout="${threadid}"/>
            <column name="Date" layout="${longdate}"/>
            <column name="Level" layout="${level:uppercase=true}"/>
            <column name="Message" layout="${message}"/>
            <column name="Exception" layout="${exception:format=tostring}"/>
          </layout>
        </target>
      </targets>
      <rules>
        <logger name="*" minlevel="Trace" writeTo="console"/>
        <logger name="*" minlevel="Trace" writeTo="file"/>
      </rules>
    </nlog>
    <applicationSettings>
        <GZipTest.Properties.Settings>
            <setting name="ReadBlockMaxSize" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="RewriteExistsFile" serializeAs="String">
                <value>False</value>
            </setting>
        </GZipTest.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GZipTest.Properties.Settings>
            <setting name="MaxBufferLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OutputState" serializeAs="String">
                <value>Default</value>
            </setting>
        </GZipTest.Properties.Settings>
    </userSettings>
</configuration>
